body {
    color: black;
    font-family: 'Droid Sans', sans-serif;
    font-size: 14px;
    background: white;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

header, header img {
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

#latest {
    background: #626367;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 100px;
    margin-bottom: 75px;
}

#podcasts {
    text-align: center;
    margin: 25px 0;   
}

#podcasts li {
    display: inline-block;
    padding: 30px;
}

#contact {
    text-align: center;
    margin-bottom: 75px;
    width: 100%;
}

#contact img {
    max-height: 30px;
    max-width: 30px;
    padding: 25px;
}

#contact li {
    display: inline-block;
}

 nav a:focus, a:link, a:active, a:visited {
    outline: none;
    color: black;
}

nav ul {
    width: 100%;
    letter-spacing: 1.5px;
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 0 25px;
    text-shadow: -2px 2px 5px lightgray;
}


/* Media queries */
@media screen and (max-width: 517px) {
    body {
        font-size: 0.8em;
    }
    
    nav li {
        padding: 0 20px;
    }
    
    #latest {
        margin-top: 50px;
    }
    
    #podcasts img {
        max-height: 250px;
        max-width: 250px;
    }
}

@media screen and (max-width: 453px) {
    body {
        font-size: 0.6em;
        letter-spacing: 0.3em;
    }
    
    nav li {
        padding: 0 15px;
    }
    
    #latest {
        margin-bottom: 25px;
    }
    
    #podcasts img {
        max-height: 225px;
        max-width: 225px;
    }
}