body {
    color: black;
    font-family: 'Droid Sans', sans-serif;
}

img {
    width: 100%;
    box-shadow: -5px 5px 5px lightgray;
}

a {
    text-decoration: none;
}

 nav a:focus, a:link, a:active {
    outline: none;
    color: black;
}

a:hover {
    font-weight: lighter;
}

nav ul {
    width: 100%;
    text-align: center;
    margin: 0
}

nav li {
    display: inline-block;
    padding: 0 100px;
    text-shadow: -2px 2px 5px lightgray;
}

ul {
    padding: 0;
}

#latest {
    text-align: center;
    margin-top: 50px;   
}

#latest li {
    display: inline-block;
    padding: 15px;
    margin-top: 50 px;
}
